---
import { ViewTransitions } from "astro:transitions"
import { Head } from 'astro-capo'

import Header from "@/components/Header"
import Footer from "@/components/Footer"
import WhatsappBUtton from "@/components/WhatsappButton"
import data from "@data"

import "@/styles/equipo.css"

const { title, description } = Astro.props
---
<!DOCTYPE html>
<html lang="es">
	<Head>
		<meta charset="utf-8" />
		<link rel="icon" type="image/ico" href="/ArtesVirtualesLogos/favicon.io" />
		<meta name="viewport" content="width=device-width" />
		<meta name="generator" content={Astro.generator} />
    <meta name="description" content={description} />
		<title>{title}</title>
    <ViewTransitions />
	</Head>
	<body >
    <Header client:idle dataHeader={data.header} /> 
    <slot />
    <Footer redesSociales={data.redesSociales} />
    <WhatsappBUtton whatsapp={data.redesSociales.whatsapp} />
	</body>
</html>

<style>
  *{
    scroll-behavior: smooth;
  }
</style>